{% extends "auctions/layout.html" %}

{% block title %}
Your WatchList
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% if watchListItems %}
        <div class="row justify-content-center">
            <div class="col-10 mt-2">
                <h3 style="font-weight: 400;">Your Watchlist</h3>
            </div>
        </div>
        
        <br>
        {% for item in watchListItems %}
        <a href="{% url 'auction:listing' item.id %}" id="watchlist-link">
            <div class="row watchlistItem">
                <div class="col-lg-4 wlItemImg">
                    <img src="{{item.url}}" alt="" id="wlItemImg-image">
                </div>
                <div class="col-lg-8 wlItemInfo">
                    <div class="row">
                        <div class="col wlItemTitle">
                            <h6> {{item.title|capfirst}} </h6>
                        </div>
                        <form method="POST" id="watchlist">
                            {% csrf_token %}
                            <button class="btn pr-3 mt-n3" id="watchlistButton" type="submit" form="watchlist"
                                name="{{item.id}}-remove-watchlist"><i class="fas fa-times"></i></button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col wlItemBody">
                            <div class="info description">Description: {{item.description}}</div>
                            <div class="info">Bid starts from : ${{item.start_price}}</div>
                            {% if item.active %}
                            <div class="info">Status: Active</div>
                            {% else %}
                            <div class="info">Status: Closed</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-inline-flex align-self-end card-footer">
                            <small class="text-muted">Posted by : {{item.user.username|capfirst}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <hr style="width: 80%">
        {% endfor %}
        {% else %}
        <div class="row justify-content-center text-center mt-5">
            <div class="col-10 mt-2">
                <h3 style="font-weight: 400;">You have no items in your watchist right now.</h3>
            </div>
        </div>
        {% endif %}

    {% else %}
    <div class="jumbotron jumbotron-fluid mx-n5 text-center" id="helloJumbotron" style="margin-top: 100px">
        <h1 class="display-2" id="jumbotron-header">Hi there!</h1>
        <p class="lead ">You need to be logged in to view this site's contents. Please <a href="{% url 'auction:login' %}">sign in</a> or <a href="{% url 'auction:register' %}">register</a> for an account if you do not have one.</p>
    </div>
    {% endif %}
{% endblock %}